/* CSS Document */
/*<![CDATA[*/

form{
margin:0px;
padding:0px;
}
.tb_icon{
    background:url(../images/tbicon_bg.gif) repeat-x;
	border:1px solid #99aabd;
	border-bottom:0 none;
	border-top:0 none;
	height:35px;
	line-height:35px;
}
.tb_icon a{
    color:#666;
	text-decoration:none;
}
.tb_icon table{
	height:16px;
	font-size:11px;
	color:#666;
	font-weight:bold;
	padding-left:4px;
}
.click{
    cursor:pointer;
	white-space:nowrap;
}
#right{
    border:1px solid #99aabd;
	border-top:0 none;
	OVERFLOW: scroll; OVERFLOW-X: hidden;
}

#right_main{
	background:#fff;
	word-break:keep-all;
	OVERFLOW: scroll;
	OVERFLOW-X:hidden;



	height:expression((parent.document.body.clientHeight-127) + "px");
	position:absolute;
	top:61px;
	right:0;
	left:3px;
	bottom:0;
	border:1px solid #a3bae9;
	border-top:0 none;
	margin-bottom:5px;
	background:#fff url(../images/grd-bg.gif);
	scrollbar-face-color:#EBF4F5;
	scrollbar-track-color:#EBF4F5;
	scrollbar-Shadow-color:#a3bae9;
	scrollbar-3dlight-color:#a3bae9;
	width:auto;
}
*html #right_main{
	background:#fff;
	word-break:keep-all;
    OVERFLOW: scroll; 
	OVERFLOW-X:hidden;
	height:expression((parent.document.body.clientHeight-127) + "px");
    position:absolute;
    top:60px;
    right:0;
    left:0;
    bottom:0;
	border:1px solid #a3bae9;
	border-top:0 none;
	margin-bottom:5px;
	background:#fff url(../images/grd-bg.gif);
	scrollbar-face-color:#EBF4F5;
	scrollbar-track-color:#EBF4F5;
	scrollbar-Shadow-color:#a3bae9;
	scrollbar-3dlight-color:#a3bae9;
	width:expression((parent.document.body.clientWidth-345 + 'px'));
}
*+html #right_main{
	background:#fff;
	word-break:keep-all;
    OVERFLOW: scroll; 
	OVERFLOW-X:hidden;
	height:expression((parent.document.body.clientHeight-127) + "px");
    position:absolute;
    top:60px;
    right:0;
    left:0;
    bottom:0;
	border:1px solid #a3bae9;
	border-top:0 none;
	margin-bottom:5px;
	background:#fff url(../images/grd-bg.gif);
	scrollbar-face-color:#EBF4F5;
	scrollbar-track-color:#EBF4F5;
	scrollbar-Shadow-color:#a3bae9;
	scrollbar-3dlight-color:#a3bae9;
    width:expression((parent.document.body.clientWidth-179 + 'px'));
}
.autoheight_tab{
width:100%;
}
*html .autoheight_tab{
width:expression((parent.document.body.clientWidth-362 + 'px'));
}
*+html .autoheight_tab{
width:expression((parent.document.body.clientWidth-196 + 'px'));
}

#toolbar{
    background:url(../images/tb_bg.gif);
	height:25px;


}
.lable{
    width:173px;
	height:25px;
	float:left; 
	background:url(../images/lab_bg.gif);
	color:#223661;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	line-height:25px;
}
.lable a{
	color:#223661;
	font-size:12px;
	font-weight:bold;
	line-height:25px;
	text-decoration:none;
}
.lable2{
    width:173px;
	height:25px;
	float:left; 
	background:url(../images/lab_bg2.gif);
	color:#223661;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	line-height:25px;
}
.lable2 a{
	color:#223661;
	font-size:12px;
	font-weight:bold;
	line-height:25px;
	text-decoration:none;
}
.list_table th {
background-image: url(../images/list_tab_th.gif);
height:16px;
color:#000;
font-size:11px;
text-align:center;
border-right:1px solid #ccc;
border-left:1px solid #fff;
border-bottom:1px solid #7a8180;
border-collapse:collapse;
white-space:nowrap;
}
.list_table th a{
color:#000;
text-decoration:none;
}
.list_table td{
font-size:11px;
padding:2px;
text-align:center;
cursor:pointer;
background:#fff;
}
.mouseOver{
color:#fff;
background:#3e79b0;
}

.main_table {border-collapse:collapse;
border:1px solid #afbec5;
margin-top:10px;
}
.serline_table {border-collapse:collapse;
border:1px solid #00CCFF;
border-width:1px 0;
}
.main_table th {
background-image: url(../images/th_bg.gif);
height:28px;
margin-bottom:5px;
color:#827e7e;
font-weight:bold;
font-size:14px;
padding-left:5px;
text-align:left;
}
.main_th {
background-image: url(../images/th_bg.gif);
height:28px;
margin-bottom:5px;
color:#827e7e;
font-weight:bold;
font-size:14px;
padding-left:5px;
text-align:left;

}

.main_table td{
border-left:0;
border-bottom:0;
border-top:1px solid #fff;
font-size:11px;
border-collapse:collapse;
font-family: Arial, Helvetica, sans-serif;
}

.add_table td{
border-top:0 none;
font-size:11px;
border-collapse:collapse;
font-family: Arial, Helvetica, sans-serif;
}
.PAYMENT_table {border-collapse:collapse;
border:1px solid #afbec5;
background:url(../images/grd-bg.gif);
}
.PAYMENT_table td{
border-left:0;
border-top:0;
border-right:1px solid #fff;
border-bottom:1px solid #fff;
font-size:11px;
border-collapse:collapse;
font-family: Arial, Helvetica, sans-serif;
}
.PAYMENT_table th {
background-image: url(../images/th_bg.gif);
height:28px;
margin-bottom:5px;
color:#827e7e;
font-weight:bold;
font-size:14px;
padding-left:5px;
text-align:left;
}
.PAYMENT_input{
border:1px solid #b5b8c8;
border-bottom:0 none;
background:url(../images/p_input.gif) repeat-x;
height:17px;
width:280px;
margin:2px 0;
color:#999;
font-size:12px;
}
.gray{
color:#ccc;
line-height:24px;
}
.PAYMENT_right{
height:28px;
text-align:right;
padding-right:165px;
}
.td_bg01{
background:#e6eff7;
text-align:right;
padding:0 4px;
font-size:12px;
color:#000;
white-space: nowrap;
}
.td_bg02{
background:#f0f9ff;
padding:0 4px;
font-size:11px;
white-space: nowrap;
}
.td_bg03{
background:#e6eff7;
text-align:left;
padding:0 4px;
font-size:12px;
color:#999;
white-space: nowrap;
font-weight:bold;
}
.width_bg03{
width:34%;
}
.td_bg05{
background:#e6eff7;
text-align:center;
font-size:12px;
color:#999;
white-space: nowrap;
font-weight:bold;
border-right:1px solid #fff;
}
.td_bg06{
background:#f0f9ff;
text-align:center;
font-size:11px;
white-space: nowrap;
border-right:1px solid #fff;
}
.width_bg01{
width:19%;
}
.width_bg02{
width:14%;
}
.td_bg04{
background:#e6eff7;
text-align:right;
padding:0 4px;
font-size:12px;
white-space: nowrap;
font-weight:bold;
}
.btn {
	border:#017CC8 1px solid; 
	background:#E9F2FA;
	height:24px;
	background:url(../images/Button_bg.gif);
	margin-left:4px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

.tf_150 {	width:95%;
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px;
border:1px solid #b5b8c8;
border-bottom:0 none;
background:url(../images/p_input.gif) repeat-x;
	height:17px;
	line-height:17px;
	}
.tf_300 {width:96%;
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px;
	padding-bottom:1px; text-align:left;
border:1px solid #b5b8c8;
border-bottom:0 none;
background:url(../images/p_input.gif) repeat-x;
	height:17px;
	line-height:17px;
	}
.tf_80 {	
    width:87%;
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px;
border:1px solid #b5b8c8;
border-bottom:0 none;
background:url(../images/p_input.gif) repeat-x;
	height:17px;
	line-height:17px;
	}
.tf_70 {	
    width:75%;
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px;
    border:1px solid #b5b8c8;
    border-bottom:0 none;
    background:url(../images/p_input.gif) repeat-x;
	height:17px;
	line-height:17px;
	}
.select_80{
    width:91%;
}
.select_70{
    width:69%;
}
.select_150{
    width:96%;
}
.select_160{
    width:98%;
}
.tf_120 {	
    width:95%;
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px;
border:1px solid #b5b8c8;
border-bottom:0 none;
background:url(../images/p_input.gif) repeat-x;
	height:17px;
	line-height:17px;
	}
.tf_10 {	
    width:17%;
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px;
border:1px solid #b5b8c8;
border-bottom:0 none;
background:url(../images/p_input.gif) repeat-x;
	height:17px;
	line-height:17px;
	}
*+html .turnpage{
  width:expression((parent.document.body.clientWidth-196 + 'px'));
  height:25px;
  background:url(../images/page_bg.gif) repeat-x;
  border:1px solid #99bbe8;
  border-left:0 none;
  border-right:0 none;
}
.turnpage a{
 color:#0a4087;
 text-decoration:none;
}
.turnpage{
  width:100%;
  height:25px;
  background:url(../images/page_bg.gif) repeat-x;
  border:1px solid #99bbe8;
  border-left:0 none;
  border-right:0 none;
}  /* FireFox */
*html  .turnpage a{
 color:#0a4087;
 text-decoration:none;
}
*html .turnpage{
  width:expression((parent.document.body.clientWidth-362 + 'px'));
  height:25px;
  background:url(../images/page_bg.gif) repeat-x;
  border:1px solid #99bbe8;
  border-left:0 none;
  border-right:0 none;
} /* ie6 fixed */
*+html .turnpage a{
 color:#fc8506;
 text-decoration:none;
}
*+html .turnpage{
  width:expression((parent.document.body.clientWidth-196 + 'px'));
  height:25px;
  background:url(../images/page_bg.gif) repeat-x;
  border:1px solid #99bbe8;
  border-left:0 none;
  border-right:0 none;
}/* ie7 fixed, 娉ㄦ剰椤哄簭 */

.black_overlay{  
  		display: none;  
  		position: absolute;  
  		top: 10;  left: 0;  
  		width: 100%;  
  		height:expression((parent.document.body.clientHeight) + "px");
  		background-color: black;  
  		z-index:1002;  
  		-moz-opacity: 0.8;  
  		opacity:.60;  
  		filter: alpha(opacity=60);  
  	}  
  	.white_content {  
  		display: none;  
  		position: absolute;  
  		top: 25%;  left: 25%;  
  		width: 50%;  
  		height: 50%;  
  		/*padding: 16px;  */
  		/*border: 16px solid orange; */ 
  		/*background-color: white;  */
  		z-index:1003;  
  		overflow: auto;  
  	}

	/*按钮样式20090418*/
	.botton999{
	height:17px; 
	background:#9FC8E2; 
	margin-top:1px;
	border-left:1px dotted #94B4C9;
	border-right:1px dotted #94B4C9;
	border-top:0px;
	border-bottom:0px;
	background:url(../images/botton999bj.gif) repeat-x;
	}
/*]]>*/