/*
 * 2009.03.16 Auto width & height.
 * by wzq
 */

/*<![CDATA[*/
* {
	margin: 0;
	padding: 0;
}

body, html {
	font: normal 12px tahoma, arial, verdana, sans-serif;
	background: #E9F2FA url(../images/bg.gif) repeat-x left top !important;
	height: 100%;
	overflow: hidden;
}

#header {
	padding: 0;
	margin-right: 5px;
	height: 61px;
	background: url(../images/header_rightbg.jpg) no-repeat right;
}

#main {
	_width: 100%;
	height: auto;
	overflow: hidden;
	padding: 0;
	padding-left: 164px;
}

*+html #midpart {
	float: right;
	background: url(../images/header_rightbg2.jpg) no-repeat right top;
	position: absolute;
	top: 61px;
	right: 5px;
	left: 174px;
	bottom: 0;
} /* IE7 */
#midpart {
	float: right;
	background: url(../images/header_rightbg2.jpg) no-repeat right top;
	position: absolute;
	top: 61px;
	right: 5px;
	left: 174px;
	bottom: 0;
}

#leftpart {
	position: absolute;
	top: 61px;
	right: 0;
	left: 5px;
	bottom: 0;
	height: expression(( document.body.clientHeight - 66)+ "px");
	_display: inline;
	float: left;
	width: 164px;
}

*+html #mainframe {
	height: expression(( document.body.clientHeight - 66)+ "px");
	width: 100%;
	width: expression(( document.body.clientWidth-179 + "px"));
	border-width: 0px;
} /* IE7 */
#mainframe {
	height: expression(( document.body.clientHeight - 66)+ "px");
	width: 100%;
	*width: expression(( document.body.clientWidth-345 + "px"));
	border-width: 0px;
}

#sidebar {
	position: absolute;
	top: 72px;
	right: 0;
	left: 0;
	bottom: 0;
	height: expression(( document.body.clientHeight - 149)+ "px");
	_display: inline;
	border: 1px solid #a3bae9;
	background: #fff;
	margin-bottom: 5px;
	padding: 5px;
	outline: none;
}

.sidebar_normal a {
	text-decoration: none;
	color: #666;
}

.sidebar_tab td {
	height: 20px;
	font-size: 11px;
	cursor: pointer;
}

.sidebar_tab img {
	margin: 0px 6px 0px 18px;
}

.sidebar_slected {
	background: #d9e8fb;
	border: 1px dotted #a3bae9;
	height: 18px;
	color: #15428b;
	font-weight: bold;
}

.sidebar_slected a {
	color: #15428b;
	text-decoration: none;
}

.sidebar_normal a {
	color: #000;
	text-decoration: none;
}

.searchbar {
	background: url(../images/search_bg.jpg) no-repeat;
	width: 164px;
	height: 62px;
	width: 100%;
	margin-bottom: 10px;
}

.searchbar a {
	color: #000;
	text-decoration: none;
}

.search_input {
	background: #fff url(../images/search.gif) no-repeat left;
	border: solid #99aabd;
	height: 19px;
	width: 95px;
	border-width: 0px 0px 1px 1px;
	margin-left: 3px;
	padding-left: 25px;
	line-height: 17px;
	font-size: 11px;
	color: #6b7d94;
}

.search_button {
	background: url(../images/go.gif) no-repeat;
	width: 30px;
	height: 21px;
	border: 0 none;
	cursor: pointer;
}

.seach_left {
	width: 200px;
	height: 18px;
	border: 1px solid #dadadb;
	margin-left: 28px;
	margin-top: 2px;
	float: left;
}

.seach_right {
	width: 100px;
	height: 21px;
	margin-right: 2px;
	float: right;
}

.seach_s {
	width: 98px;
	height: 19px;
	background: url(../images/search_web.gif);
	border: 1px solid #F4AC33;
}

.seach_rpart {
	width: 100%;
	height: 61px;
	background: url(../images/header_rightbg.jpg) no-repeat right;
}

.jmslogo {
	width: 260px;
	height: 41px;
	background: url(../images/header_logo.jpg) no-repeat left;
	color: #003366;
	font-weight: bold;
	padding-left: 180px;
	padding-top: 20px;
}

.jms_left {
	width: 164px;
	height: 100%;
	border: 1px solid #99aabd;
	border-top: 0 none;
	margin: 0px 5px 5px 5px;
	float: left;
	background: #fff;
}

.jms_right {
	width: 100%;
	height: 100%;
	border: 1px solid #99aabd;
	border-top: 0 none;
	margin: 0px 5px 5px 5px;
	float: left;
	background: #fff;
}
/*]]>*/